.App {
    /*--header_height: 60px;*/
    width: 100%;
    max-width: 1280px;
    margin: 131px auto 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.hw {
    width: 100%;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 10px;
}

.hwTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 8px;
}